/* ========= Root=============*/
:root {
  /* Fonts */
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Colors */
  --main-txt-color: rgba(85, 85, 85, 1);
  --secondary-txt-color: rgba(48, 48, 48, 1);

  --light-txt-color: #ffffff;
  --active-txt-color: #ff6c00;

  --gray-color-60: rgba(157, 164, 189, 0.6);
  --gray-color: rgba(157, 164, 189);

  --main-bg-color: #111319;
  --active-bg-color: #ff6c00;

  --btn-border-color: #ff6c00;

  /* Others */
  --indent: 30px;
  --items: 3;
}
/* ========= Reset global styles============= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  color: currentColor;
  text-decoration: none;
}

button {
  display: block;
  padding: 0;

  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  display: block;
}
address {
  font-style: inherit;
}
/* ========= Base styles============= */
body {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
}
.container {
  width: 1200px;
  padding: 0 15px;
  outline: 1px solid tomato;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}
.btn {
  color: var(--secondary-txt-color);
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  min-width: 158px;
  min-height: 40px;
  background-color: transparent;
  border: 1px solid var(--btn-border-color);
  padding: 11px 19px;
  border-radius: 25px;
  cursor: pointer;
}
.btn-light {
  color: var(--light-txt-color);
}
.btn:hover {
  background-color: var(--active-bg-color);
  color: var(--light-txt-color);
}

.uppertitle {
  font-family: var(--primary-font);
  color: var(--secondary-txt-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.uppertitle-light {
  color: var(--gray-color-60);
}

.title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--secondary-txt-color);
  margin-bottom: 20px;
}

.title-light {
  color: var(--light-txt-color);
  margin-bottom: 44px;
}

/* Card set */

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* ============== HEADER =================== */
.header {
  background-color: var(--main-bg-color);
  padding: 22px 0;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 124px;
}
.header-logo-img {
}
.header_nav {
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  gap: 30px;
}
.header-nav-item {
}
.header-contact {
  margin-right: 40px;
}
.header-nav-link,
.header-contact {
  display: block;
  padding: 30px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--light-txt-color);
}
.header-nav-link:hover,
.header-nav-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--active-txt-color);
}

/* ========= HERO SECTION============= */
.hero {
  background-color: var(--main-bg-color);
}
.hero-media {
}
.hero-media-item {
}
.hero-media-link {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: var(--secondary-txt-color);
}
.hero-media-link:hover {
  color: var(--active-txt-color);
}
.hero-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05rem;
  color: var(--light-txt-color);
}
.hero-desc {
  color: var(--gray-color);
}
/* Slider section and buttons */
.hero-slider {
}
.hero-slider-item {
}
.hero-slider-back {
  color: var(--gray-color-60);
  font-family: inherit;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid var(--gray-color-60);
  cursor: pointer;
  text-align: left;
  width: 60px;
  padding: 0 0 8px 0;
}
.hero-slider-forward {
  color: var(--gray-color-60);
  font-family: inherit;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid var(--gray-color-60);
  cursor: pointer;
  text-align: right;
  width: 60px;
  padding: 0 0 8px 0;
}
.hero-slider-back:hover,
.hero-slider-forward:hover {
  color: var(--light-txt-color);
  border-color: var(--light-txt-color);
}

/*================ ABOUT SECTION ============ */
.about {
}
.about-container {
  display: flex;
  gap: 30px;
}
.about-list {
  display: flex;
  gap: 30px;
}
.about-item {
}
.about-img {
}
.about-right-side {
  width: 470px;
}

.about-subtitle {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;

  margin-bottom: 20px;
}
.about-desc {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-bottom: 43px;
}
/*====================== PRICE SECTION ========================= */
.price {
  background-color: var(--main-bg-color);
}
.price-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.price-inner-list {
  outline: 1px solid green;
  padding: 30px 20px;
  width: 570px;
}
.price-inner-item {
  color: var(--gray-color);
}
.price-inner-item:not(:last-child) {
  margin-bottom: 20px;
}
.price-btn {
  margin: 0 auto;
}

/*=================== BENEFITS SECTION ========================== */
.benefits {
}
.benefits-container {
}
.benefits-list {
}
.benefits-item {
}
.benefits-quantity {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--secondary-txt-color);
}
.benefits-mark {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0%;
  text-align: center;
  color: var(--active-txt-color);
}
.benefits-right-side {
  width: 500px;
}
.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-txt-color);
}

.benefits-desc {
}
/* ============ TEAM ============ */
.team {
  background-color: #f7f7f7;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.team-item {
}
.item-img {
  margin-bottom: 30px;
}
.item-title {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-color);
  text-align: center;
  margin-bottom: 3px;
}
.item-subtitle {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;
  color: var(--active-txt-color);
  text-align: center;
}
/* ======= GALLERY ============= */
.gallery {
}
.gallery-list {
  padding-top: 24px;
  --items: 4;
}
.gallery-item {
}
.gallery-img {
}

.page-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: var(--main-bg-color);
}
/* ======= BOOKING FORM ============= */

.booking {
  flex-basis: 570px;
}

/* ========= CONTACTS =========== */
.contacts {
  flex-basis: 570px;
  outline: 1px solid turquoise;
}
.contacts-address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 72px;
}
.contacts-link {
  color: var(--gray-color);
}

.contacts-schedule-desc {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;

  color: var(--gray-color);
}

/* ============ FOOTER =================== */
.footer {
}
.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--gray-color);
}
.footer-list {
}
.footer-item {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
.footer-item:hover,
.footer-item:focus {
  color: var(--active-txt-color);
}
